<h1>投稿一覧</h1>

<ul>
  <% @posts.each do |post| %>
  <li><%= link_to post.id, post %> : <%= post.title %> &gt; <%= post.content %></li>
  <% end %>
</ul>
<%= paginate @posts %>

<%= link_to '新規メッセージの投稿', new_post_path %>